<div class="assigned-wrapper">

  <h1 class="page-title">Assigned SOP</h1>

  <h2 class="sub-title">Assigned Objectives</h2>

  <!-- No data -->
  <div *ngIf="assignedData.length === 0" class="no-data">
    No assigned objectives found.
  </div>

  <!-- TABLE -->
  <table class="assigned-table" *ngIf="assignedData.length > 0">
    <thead>
      <tr>
        <th>Process</th>
        <th>Subprocess</th>
        <th>Objective</th>
        <th>Documents</th>
        <th>Videos</th>
        <th>Images</th>
      </tr>
    </thead>

    <tbody>

      <!-- LOOP PROCESS -->
      <ng-container *ngFor="let p of assignedData">

        <!-- LOOP OBJECTIVES -->
        <ng-container *ngFor="let obj of p.objectives">

          <tr>
            <td>{{ p.process_name }}</td>
            <td>{{ obj.subprocess_name }}</td>
            <td>{{ obj.objective_name }}</td>

            <!-- Documents -->
            <td>
              <ul>
                <li *ngFor="let doc of obj.links.documents">
                  <a [href]="doc" target="_blank">Open Document</a>
                </li>
              </ul>
            </td>

            <!-- Videos -->
            <td>
              <ul>
                <li *ngFor="let vid of obj.links.videos">
                  <a [href]="vid" target="_blank">Watch Video</a>
                </li>
              </ul>
            </td>

            <!-- Images -->
            <td>
              <ul>
                <li *ngFor="let img of obj.links.images">
                  <a [href]="img" target="_blank">View Image</a>
                </li>
              </ul>
            </td>

          </tr>

        </ng-container>

      </ng-container>

    </tbody>
  </table>

</div>
